@font-face {
  font-family: 'Revans';
  src: url('https://cdn.shopify.com/s/files/1/0271/7209/files/Revans-Bold.otf?v=1632238526')
      format('opentype'),
    url('https://cdn.shopify.com/s/files/1/0271/7209/files/Revans-Bold.woff2?v=1632238526')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0271/7209/files/Revans-Bold.otf?v=1632238526')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fenomen Sans';
  src: url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Light.otf?v=1632238423')
      format('opentype'),
    url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Light.woff2?v=1632238423')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Light.woff?v=1632238423')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fenomen Sans';
  src: url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Book.woff2?v=1632238423')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Book.woff?v=1632238423')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fenomen Sans';
  src: url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-SemiBold.otf?v=1632238423')
      format('opentype'),
    url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Light.woff2?v=1632238423')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-SemiBold.woff?v=1632238423')
      format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fenomen Sans';
  src: url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Bold.woff?v=1632238424')
      format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Bold.woff2?v=1632238423')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ===== SITE LAYOUT =================== */

html {
  background-color: #000000;
}

.jv-page-container {
  background-color: #000000;
}

.jv-page {
  font-family: 'Fenomen Sans', sans-serif;
  width: initial;
  max-width: 700px;
  margin: 0 auto;
  padding: 25px;
}

.jv-page-content {
}

.jv-page-header {
}

.jv-page-body {
}

.jv-wrapper {
}

.jv-footer {
}

/* ===== JOB LISTINGS PAGE  =================== */

.jv-logo a {
  font-family: 'Revans', sans-serif;
  font-weight: 700;
  font-size: 66px;
  color: #fff;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
}

h1.jv-logo a:hover {
  color: #e12727;
}

.jv-job-list-name a {
  color: #e12727;
}

.jv-page-error {
}

.jv-page-body h2 {
}

h3.h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}

.jv-job-list {
  & th {
  }

  & td {
    color: #fff;
  }

  & .jv-job-list-name {
  }
}

.jv-job-list-location {
  color: #fff;
}

p {
  font-family: 'Fenomen Sans', sans-serif;
  color: #fff;
}

a {
  color: #e12727;
}

a:hover {
  color: #e12727;
}

/* ========== JOB DETAILS PAGE =============== */

h2.jv-header {
  color: #e12727;
}

.jv-job-detail-meta,
.jv-step-header,
.jv-apply-meta,
.jv-form-field-label,
p.awli-text.blue.large-logged-out-text,
.jv-share-widget-title,
.jv-job-detail-description li,
.jv-job-detail-description h3,
.awli-wrapper p,
.jv-prescreen-section-header,
.jv-form-field-legend,
.jv-form.jv-input-group-row {
  color: #fff;
}

.jv-button.jv-button-primary,
.jv-button.jv-button-apply-later,
.jv-button,
.awli-wrapper .large.blue.sign-out-btn {
  border-radius: 0;
  color: #201e1d;
  background-color: #e12727;
  font-size: 16px;
  line-height: 1.5;
  border-color: transparent;
  font-family: 'Fenomen Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.jv-current-openings {
  font-family: 'Fenomen Sans', sans-serif;
  color: #e12727;
}

.jv-share-widget {
}

.jv-job-detail-bottom-actions,
.jv-apply-form-actions {
}

h3.jv-share-widget-title {
  font-family: 'Fenomen Sans', sans-serif;
}

.jv-form-field-control, .jv-form-field label {
  background-color: #fff;
}

.jv-form-field-radio .jv-form-field-control {
  background-color: #000;
}

.jv-form-field-control .jv-input-group {
  background-color: #000;
}

.jv-attach-social-profile {
  background-color: #fff;
}

/* ========== APPLY PAGE ====================== */

.jv-form {
}

.jv-apply-form {
}

.jv-search-form {
}

.jv-apply-step {
}

.jv-apply-section {
}

/* Section Title */

.jv-required-label {
}
