/* ===== SITE LAYOUT =================== */

.jv-page-container { background: black; }

.jv-page 			{ }

.jv-page-content 	{ }

.jv-page-header 	{ }

.jv-page-body 		{ }

.jv-wrapper 		{ }

.jv-footer 			{ }



/* ===== JOB LISTINGS PAGE  =================== */

.jv-logo a { color: #E12727; }

h1.jv-logo a:hover { color: #E12727; }

.jv-job-list-name a	{ color: #E12727; }

.jv-page-error 		{ }

.jv-page-body h2 	{ }

h3.h2     			{ }

.jv-job-list {
  & th  	{ }

  & td  	{ }

  & .jv-job-list-name { }

  & .jv-job-list-location  	{ color: #fff }
}

/* ========== JOB DETAILS PAGE =============== */

h2.jv-header 	{}

.jv-job-detail-meta,
.jv-apply-meta    		{}

.jv-button { }

.jv-button-primary { }

.jv-current-openings 	{ }

.jv-share-widget 		{ }

.jv-job-detail-bottom-actions,
.jv-apply-form-actions 	{ }






/* ========== APPLY PAGE ====================== */

.jv-form 				{}

.jv-apply-form 			{}

.jv-search-form 		{}

.jv-apply-step 			{}

.jv-apply-section 		{}

.jv-step-header 		{}

/* Section Title */

.jv-required-label 		{}
