 @font-face {
    font-family: 'Revans';
    src:
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Revans-Bold.otf?v=1632238526') format('opentype'),
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Revans-Bold.woff2?v=1632238526') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Revans-Bold.otf?v=1632238526') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: 'Fenomen Sans';
    src:
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Light.otf?v=1632238423') format('opentype'),
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Light.woff2?v=1632238423') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Light.woff?v=1632238423') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fenomen Sans';
    src:
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Book.woff2?v=1632238423') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Book.woff?v=1632238423') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fenomen Sans';
    src:
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-SemiBold.otf?v=1632238423') format('opentype'),
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Light.woff2?v=1632238423') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-SemiBold.woff?v=1632238423') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fenomen Sans';
    src:
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Bold.woff?v=1632238424') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0271/7209/files/Fenomen-Sans-Bold.woff2?v=1632238423') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

/* ===== SITE LAYOUT =================== */

.jv-logo a { font-size: 20px; color: #fff; text-transform: uppercase; font-family: 'Revans', sans-serif; }

.jv-logo a:hover { font-size: 30px; color: #e12727 }

.jv-logo:after { background: transparent }

.jv-page-container 	{}

.jv-page	{ 
 font-family: 'Revans', sans-serif; 
 background-color: #000; 
 font-family: 'Fenomen Sans', sans-serif;
}

p, li { font-family: 'Fenomen Sans', sans-serif; }

.jv-page-content 	{}

.jv-page-header, .jv-job-list-inner	{ background-color: #000 }

.jv-tabs 			{ 
 background-color: #e12727; 
 border-top: solid 1px #fff;
 border-bottom: solid 1px #fff;
}

.jv-job-alert-categories {
 background-color: #000;
 color: #fff;
}

.jv-page-body, .icon.icon-powered-by,	.jv-job-category-meta, .jv-job-alert-categories	{ color: #fff }

.jv-tab, .jv-search-icon, .jv-tab.jv-tab-active, .jv-footer, .jv-nav.jv-animate	{ 
 color: #000 
}

.jv-tab-active:before {
 color: #e12727;
}

.jv-footer { 
 background-color: #000
}

.jv-page-body .jv-wrapper 		{ background-color: #000; color: #fff }

.jv-wrapper a, .jv-list-label { color: #e12727; }

.jv-search-field::placeholder {
 color: #000;
 opacity: 1;
 font-family: 'Fenomen Sans', sans-serif;
}

.jv-search-field:-ms-input-placeholder {
 color: #000;
 font-family: 'Fenomen Sans', sans-serif;
}

.jv-search-field::-ms-input-placeholder {
 color: #000;
 font-family: 'Fenomen Sans', sans-serif;
}

/* ===== JOB LISTINGS PAGE  =================== */

.jv-job-list-pane 		{}

.jv-job-categories 		{ background-color: #000 }

.jv-icon-primary.icon.icon-pin, .jv-job-category-link.jv-list-icon { 
 color: #e12727; 
}

.jv-job-category-label, .jv-list-icon.icon.icon-mobile-expand, .jv-list-icon.icon.icon-mobile-collapse { 
 color: #fff; 
}

.jv-job-category-meta 	{}

.jv-list-icon 			{}

/* ========== JOB DETAILS PAGE =============== */

.jv-job-detail-description, h2.jv-header, h3.jv-sub-header, .jv-share-widget-title {
 font-family: 'Fenomen Sans', sans-serif;
}

.jv-button 	{
  border-radius: 0;
  color: #201e1d;
  background-color: #e12727;
  font-size: 16px;
  line-height: 1.5;
  border-color: transparent;
  font-family: 'Fenomen Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.jv-button-primary 		{
  border-radius: 0;
  color: #201e1d;
  background-color: #e12727;
  font-size: 16px;
  line-height: 1.5;
  border-color: transparent;
  font-family: 'Fenomen Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.jv-current-openings a	{
  font-family: 'Fenomen Sans', sans-serif;
  color: #fff;
}

.jv-tag-new {
  background-color: #e12727;
}
/* ========== APPLY PAGE ====================== */

.jv-sub-header 			{}

.jv-apply-meta 			{}

.jv-form 				{}

.jv-apply-form 			{}

.jv-apply-section 		{}

.jv-step-header 		{}

/* Section Title */

.jv-form-field 			{}

.jv-form-field-control {
  & input {}
}

.jv-select-group {
  & label 		{}

  & select 	{}
}

.jv-apply-form-actions 	{}

.note 					{}
